In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# load the dataset
df = pd.read_csv('linkedin_data.csv')
df.head()

/Applications/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,c_id,avg_time_in_previous_position,avg_current_position_length,avg_previous_position_length,m_urn,m_urn_id,no_of_promotions,no_of_previous_positions,current_position_length,age,...,east_asian,european,greek,hispanic,jewish,muslim,nordic,south_asian,n_followers,face_quality
0,1,2.000000,457.0,1338.0,urn:li:member:149435456,3008,1,1,457,37,...,87.77,5.27,0.0,0.0,0.0,0.0,0.0,0.0,420,67.662
1,2,1.500000,212.0,897.5,urn:li:member:149435456,3008,1,2,212,37,...,87.77,5.27,0.0,0.0,0.0,0.0,0.0,0.0,420,67.662
2,3,1.333333,243.0,669.0,urn:li:member:149435456,3008,1,3,243,37,...,87.77,5.27,0.0,0.0,0.0,0.0,0.0,0.0,420,67.662
3,4,1.250000,123.0,562.5,urn:li:member:149435456,3008,1,4,123,37,...,87.77,5.27,0.0,0.0,0.0,0.0,0.0,0.0,420,67.662
4,5,1.200000,244.0,474.6,urn:li:member:149435456,3008,1,5,244,37,...,87.77,5.27,0.0,0.0,0.0,0.0,0.0,0.0,420,67.662

In [4]:
# Get preliminary descriptions of how the data is spread out.
df.describe()

,avg_time_in_previous_position,avg_current_position_length,avg_previous_position_length,m_urn_id,no_of_promotions,no_of_previous_positions,current_position_length,age,beauty,beauty_female,...,east_asian,european,greek,hispanic,jewish,muslim,nordic,south_asian,n_followers,face_quality
count,62706.000000,62706.000000,62706.000000,62706.000000,62706.000000,62706.000000,62706.000000,62706.000000,62706.000000,62706.000000,...,62706.000000,62706.000000,62706.000000,62706.000000,62706.000000,62706.000000,62706.000000,62706.000000,62706.000000,62706.000000
mean,1.194328,765.634128,1100.743329,7637.790786,1.243517,3.498724,962.714206,44.047906,57.375472,59.928457,...,8.801858,15.579000,0.502701,11.309321,0.372354,4.786998,2.366192,14.173644,1225.822282,65.397677
std,0.506724,750.709169,985.750323,4384.632588,0.756857,3.112997,1088.318067,10.683454,11.761821,11.690435,...,22.693184,27.701718,5.965157,25.082939,5.010766,18.583664,13.235915,33.318162,6406.676749,33.960414
min,1.000000,-120.000000,0.000000,1.000000,1.000000,1.000000,-120.000000,1.000000,18.402000,22.902000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.006000
25%,1.000000,274.000000,537.000000,3818.250000,1.000000,2.000000,304.000000,37.000000,49.038000,51.538000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,405.000000,47.020250
50%,1.000000,578.000000,882.800000,7677.500000,1.000000,3.000000,640.000000,44.000000,56.899500,59.218000,...,0.000000,1.420000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,725.000000,83.475000
75%,1.200000,1035.000000,1399.787500,11391.000000,1.000000,4.000000,1217.000000,51.000000,65.545250,67.916000,...,3.030000,14.970000,0.000000,6.917500,0.000000,0.000000,0.000000,1.140000,1244.000000,90.777750
max,15.000000,21884.000000,39781.000000,15257.000000,12.000000,49.000000,21884.000000,80.000000,92.431000,94.291000,...,100.000000,99.990000,99.980000,100.000000,99.930000,99.850000,100.000000,99.990000,530566.000000,94.864000

In [ ]:
# Note that there are outliers in many features
gender: male/female
glass - dark/none/normal

In [ ]:
# Get rid of outlier